[DEFAULT]
user=ocid1.user.oc1..aaaaaaaapc3yoyzdl2y7cwklolnqmhlcxzkrnrcciqcpyra2yuzh2lb3whzq
fingerprint=0a:96:2a:a5:a8:f7:ae:c8:8c:4c:1c:4b:e9:71:40:dd
tenancy=ocid1.tenancy.oc1..aaaaaaaac5rg4yurapxrucfecenblsr7hp4sntzg2nv2r6zpldyoyyaoveea
region=ap-chuncheon-1
key_file=src/main/resources/zrzr1993@naver.com_2024-12-06T04_56_27.417Z.pem