
.listBox {
	position: relative;
	margin: 90px auto;
	width: 70%;
	height: 700px;
	border: 1px solid lightgrey;
	border-radius: 10px;
	background: rgba(205, 215, 255, 0.15);
	box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
	
}
.searchBox {
	position: relative;
	width: 100%;
	margin: 10px auto;
	padding: 10px;
	border-bottom: 1px solid #ebebeb;
	text-align: center;
}
.listTable {
	width: 100%;
	margin: 20px auto;
}
.title {
	font-size: 18pt;
	font-weight: bold;
	text-indent: 20px;
}
@media (max-width: 400px) {
	.title {
	font-size: 12pt;
	font-weight: bold;
	text-indent: 15px;
}
.listBox {
	width: 100%;
}
}
.title:hover {
	cursor: pointer;
}
.userName {
	color:grey; font-size: 12pt;
}
@media (max-width: 400px) {
	.userName {
	color:grey; font-size: 8pt;
}
}
.subtitle {
	font-size: 11pt;
}
@media (max-width: 400px) {
	.subtitle {
		font-size: 8pt;
	}
}

.like {
	background: rgb(133,228,252,0.4);
	width: 50px;
	font-weight: bold;
	border-radius: 5px;
}
.like:hover {
	cursor: pointer;
}

.page-link {
	border-radius: 5px;
}