header {
	position: fixed;
	top: 0; left: 0;
	width: 100%;
	height: 50px;
	line-height: 50px;
	color: black;
	background-color: white;
	text-align: center;
	font-size: 24px;
	font-weight: bold;
	z-index: 10;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.menu_bar {
	position: fixed;
	display: flex;
	justify-content: space-around;
	border: 0px solid black;
	border-right: 1px solid #ebebeb;
	top: 50px;
	width: 100%;
	height: 50px;
	text-align: center;
	background-color: white;
	z-index: 10;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.menu_bar div {
	width: 100px;
	height: 50px;
	line-height: 50px;
	margin-bottom: 50px;
	font-weight: bold;
	font-size: 1.3rem;
}
.menu_bar div:hover {
	background-color: #ebebeb;
	border-radius: 10px;
	cursor: pointer;
}
.bg {
	background-color: white;
	position: fixed;
	top: 0; left: 0;
	width: 100%; height: 100%;
	overflow: scroll;
}
.listBox {
	position: relative;
	margin: 160px auto;
	width: 750px;
	border: 1px solid lightgrey;
	border-radius: 10px;
	background: rgba(205, 215, 255, 0.15);
	box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
}
.titleBox {
	display: flex;
	justify-content: space-between;
	margin: 10px auto;
	text-indent: 10px;
	width: 700px;
	border-radius: 10px;
	background: rgba(215, 215, 255, 0.5);
}
.listTable {
	width: 700px;
	margin:20px auto;
	
}
.pic {
	width: 230px; height: 150px;
}
.map {
	border: 1px solid grey;
	width: 250px; height: 150px;
}
.title {
	font-size: 15pt;
	font-weight: bold;
	text-indent: 20px;
}
.title:hover {
	cursor: pointer;
}
.subtitle {
	text-indent: 200px;
}
.like {
	background: rgb(133,228,252,0.4);
	width: 50px;
	font-weight: bold;
	border-radius: 5px;
}
.plusBox {
	margin-bottom: 10px;
	text-align: right;
}
.detailBox {
	display: none;
	margin-left: 20px;
}
#previewBox img {
	width: 110px; height: 110px;
	border: 1px solid #ffffff;
}
#prev {
	display: none;
}
a {
	text-decoration:none; 
}
a:link {
	color: black;
}
a:visited {
	color: black;
}
