
.listBox {
	position: relative;
	margin: 90px auto;
	width: 70%;
	border: 1px solid lightgrey;
	border-radius: 10px;
	background: rgba(205, 215, 255, 0.15);
	box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
}
.listName {
	text-align: center;
	font-weight: bold;
	font-size: 15pt;
	padding: 10px;
	border-bottom: 1px solid #ebebeb;
}
.listTable {
	width: 100%;
	margin:20px auto;
	text-indent: 10px;
}
.title {
	font-size: 14pt;
	font-weight: bold;
}
.title:hover {
	cursor: pointer;
}
@media (max-width: 400px) {
	.title {
	font-size: 12pt;
	font-weight: bold;
	
}
.listBox {
	width: 100%;
}
}
.add {
	position: relative;
	width: 70px;
	margin: 0px auto;
	margin-bottom: 10px;
	text-align: center;
}
