
.listBox {
	position: relative;
	margin: 160px auto;
	width: 920px;
	border: 1px solid lightgrey;
	border-radius: 10px;
	background: rgba(205, 215, 255, 0.15);
	box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
}

.titleBox {
	display: flex;
	justify-content: space-between;
	margin: 10px auto;
	text-indent: 10px;
	width: 850px;
	border-radius: 10px;
	background: rgba(215, 215, 255, 0.5);
}

.listTable {
	width: 850px;
	margin: 20px auto;
}
.container {
	width: 480px;
	display: flex;
}
.pic {
	width: 350px;
	height: 250px;
}
img {
	border-radius: 10px;
	box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
}

.title {
	font-size: 15pt;
	font-weight: bold;
	text-indent: 20px;
}

.title:hover {
	cursor: pointer;
}

.subtitle {
	text-indent: 200px;
}

.like {
	background: rgb(133, 228, 252, 0.4);
	width: 50px;
	font-weight: bold;
	border-radius: 5px;
}

.plusBox {
	margin-bottom: 10px;
	text-align: right;
}

.detailBox {
	position: relative;
	width:600px;
	display: none;
	margin: 20px auto;
	border-top: 1px solid grey;
	padding: 10px;
}
.location {
	width: 360px;
	height: 250px;
	margin-top: 5px;
	border-radius: 10px;
	box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
}
#previewBox img {
	width: 120px;
	height: 110px;
	border: 1px solid #ffffff;
}

#prev {
	display: none;
}

#map {
	height: 280px;
	width: 600px;
	margin-bottom: 10px;
}

#search-container {
	margin: 10px auto;
}

