
.listBox {
	position: relative;
	margin: 90px auto;
	width: 80%;
	line-height: 45px;
	border: 1px solid lightgrey;
	border-radius: 10px;
	background: rgba(205, 215, 255, 0.15);
	box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
}

.titleBox {
	display: flex;
	justify-content: space-between;
	margin: 10px auto;
	text-indent: 10px;
	width: 100%;
	border-radius: 10px;
	background: rgba(215, 215, 255, 0.5);
}

.listTable {
	width: 100%;
	margin: 20px auto;
}

.container {
	display: flex;
}

.pic {
	width: 350px;
	height: 250px;
}

img {
	border-radius: 10px;
	box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
}

.title {
	font-size: 15pt;
	font-weight: bold;
	text-indent: 20px;
}

.title:hover {
	cursor: pointer;
}
.timeInfo {
	font-weight: normal;
	font-size: 12pt;
	font-style: italic;
}

.plusBox {
	margin-bottom: 10px;
	text-align: right;
}
.spot {
	cursor: pointer;
}
.address {
	display: none;
}
.detailBox {
	position: relative;
	width: 90%;
	display: none;
	margin: 20px auto;
	
}

.location {
	display: none;
	width: 340px;
	height: 250px;
	margin-top: 5px;
	margin-left: 35px;
	border-radius: 10px;
	box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
}

#previewBox img {
	width: 120px;
	height: 110px;
	border: 1px solid #ffffff;
}

#prev {
	display: none;
}

#map {
	height: 280px;
	width: 600px;
	margin-bottom: 10px;
	margin-left: 5px;
}

#search-container {
	margin: 10px auto;
}
#d-day {
		color: blue;
		font-size: 14pt;
	}
input[type="checkbox"] {
	-ms-transform: scale(1.5); /* IE */
	-moz-transform: scale(1.5); /* Firefox */
	-webkit-transform: scale(1.5); /* Safari 및 Chrome */
	-o-transform: scale(1.5); /* Opera */
	transform: scale(1.5);
	margin: 10px;
}
.idx {
	font-weight: bold;
	text-indent: 10px;
	font-size: 15pt;
}
@media (max-width: 400px) { 
	.todoTitle {
		font-size: 12pt;
	}
	#d-day {
		color: blue;
		font-size: 10pt;
	}
	.dates {
		font-size: 8pt;
	}
	.reg {
		font-size: 10pt;
		line-height: 45px;
	}
	.spot {
		font-size: 10pt;
	}
	.idx {
		font-size: 10pt;
		text-indent: 5px;
	}
	.timeInfo {
		font-size: 8pt;
	}
	.info {
		font-size: 8pt;
	}
	.form-check {
		width: 20px;
	}
	#map {
		height: 280px;
		width: 350px;
		margin-bottom: 10px;
	}
	.location {
		display: none;
		width: 180px;
		height: 140px;
		margin-top: 5px;
		border-radius: 10px;
		box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
	}
	.address {
		font-size: 8pt;
	}
	.listBox {
		width: 100%;
	}
}