
.listBox {
	position: relative;
	margin: 160px auto;
	width: 900px;
	border: 1px solid lightgrey;
	border-radius: 10px;
	background: rgba(205, 215, 255, 0.15);
	box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
}
.listTable {
	width: 700px;
	margin:20px auto;
}
.formBox {
	position: relative;
	width: 680px;
	margin: 30px auto;
}
