.listBox {
	position: relative;
	margin: 160px auto;
	width: 900px;
	height: 600px;
	border: 1px solid lightgrey;
	border-radius: 10px;
	background: rgba(205, 215, 255, 0.15);
	box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
}
.listName {
	text-align: center;
	font-weight: bold;
	font-size: 16pt;
	padding: 10px;
	border-bottom: 1px solid #ebebeb;
}
.listTable {
	width: 700px;
	margin: 20px auto;
}
.title {
	font-size: 16pt;
	font-weight: bold;
}
.title:hover {
	cursor: pointer;
}
.add {
	position: relative;
	width: 150px;
	margin: 0px auto;
}

