
.listBox {
	position: relative;
	margin: 90px auto;
	width: 60%;
	border: 1px solid lightgrey;
	border-radius: 10px;
	background: rgba(205, 215, 255, 0.15);
	box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
}
.listTable {
	width: 100%;
	margin:20px auto;
}
.formBox {
	position: relative;
	margin: 20px auto;
	width: 100%;
	text-align: center;
}
@media (max-width: 400px) { 
	.formBox {
	position: relative;
	margin: 20px auto;
	width: 100%;
}
.listBox {
	width: 100%;
}
}