<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.just.tj.dao.TodoDAO">
	<!-- 메인 글 저장 -->
	<insert id="insert" parameterType="TodoVO">
		insert into todo
		(todo_id, user_id, todo_title, reg_date, start_date, end_date, days,country,city)
		values
		(todo_id_seq.nextval,#{user_id},#{todo_title},SYSDATE,#{start_date},#{end_date},#{days},#{country},#{city})
	</insert>
	<select id="selectTodoCount" resultType="int" parameterType="hashmap">
		select count(*) from todo
		<where>
			<choose>
				<when test="search != null and search != '0'.toString()">
					${field} like '%'||#{search}||'%'
				</when>
				<when test="search == 0">
					${field} like #{search}
				</when>
			</choose>
		</where>
	</select>
	<!-- 한 페이지 얻기 -->
	<select id="selectTodoList" parameterType="hashmap" resultType="TodoVO">
		select 
			R.*
		from
		(
			select 
				rownum rnum, Q.*
			from
				(select * from todo t join user_main u on t.user_id=u.user_id 
				<where>
					<choose>
						<when test="search != null and search != '0'.toString()">
							${field} like '%'||#{search}||'%'
						</when>
						<when test="search == 0">
							${field} like #{search}
						</when>
					</choose>
				</where>
				order by todo_id desc) Q
			where
			<![CDATA[
				rownum<=#{endNo}
				]]>
		) R
		where
		<![CDATA[
			rnum >= #{startNo}
		]]>
	</select>
	<select id="selectTodoByUserId" parameterType="int" resultType="TodoVO">
		select * from todo where user_id=#{user_id} order by todo_id desc
	</select>
	<select id="selectTodoByTodoId" parameterType="int" resultType="TodoVO">
		select * from todo where todo_id=#{todo_id}
	</select>
	<delete id="delete" parameterType="int">
		delete todo where todo_id=#{todo_id}
	</delete>
</mapper>  