<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
<script src="http://code.jquery.com/jquery-latest.min.js"></script>
<script src="/webjars/bootstrap/5.3.0/js/bootstrap.min.js"></script>
<script src="/webjars/axios/1.4.0/dist/axios.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAiEABF4e5f5R2jqmzbzg7CHX7MwM1Pkiw&libraries=places"></script>
<title>여행일정공유 서비스 여정</title>
<link rel="stylesheet" type="text/css" href="css/view.css">
<link rel="stylesheet" type="text/css" href="css/font.css">
<script type="text/javascript">	
	$(function(){ 
		// 사진 슬라이드
		$(document).ready(function() {
            $('.container').each(function() {
                var $container = $(this);
                var $images = $container.find('.pic img');
                var index = 0;
                function updateButtons() {
                    $container.find('#next').toggle(index < $images.length - 1);
                    $container.find('#prev').toggle(index > 0);
                }
                $container.find('#next').on('click', function() {
                	if (index < $images.length - 1) {
                        $images.eq(index).hide();
                        index++;
                        $images.eq(index).show();
                    }
                    updateButtons();
                });
                $container.find('#prev').on('click', function () {
                    if (index > 0) {
                        $images.eq(index).hide();
                        index--;
                        $images.eq(index).show();
                    }
                    updateButtons();
                });
                $images.hide().eq(index).show();
                updateButtons();
            });
        });
	});
	function initMap() {
        /* 데이터가 있는 HTML 요소들로부터 지도 초기화 정보 불러오기 */
        var locations = document.querySelectorAll('.location');
        locations.forEach(function (location) {
            var lat = parseFloat(location.dataset.latitude);
            var lng = parseFloat(location.dataset.longitude);
            var position = { lat: lat, lng: lng };
            
            var map = new google.maps.Map(location, {
                zoom: 15,
                center: position
            });

            var marker = new google.maps.Marker({
                position: position,
                map: map
            });
        });
    }

    window.onload = initMap;
</script>
</head>
<body>
	<header>
		여행 일정 공유 서비스
	</header>
	<nav>
		<div class="menu_bar">
			<div class="main" onclick="location.href='/'">
				MAIN
			</div>
			<div class="country" onclick="location.href='/my'">
				일정공유
			</div>
			<div onclick="location.href='/todo'">
				나의일정
			</div>
		</div>
	</nav>
	<section class="bg">
		<div class="listBox">
			<div class="titleBox">
				<div style="font-size: 18pt; font-weight: bold;">[[${planVO.title}]]</div>
				<div style="line-height: 35px;">[[${#dates.format(planVO.reg_date,'YY/MM/dd')}]]<i class="bi bi-share" style="background: white; margin-right: 10px;"></i></div>
			</div>
			<table class="listTable">
				<th:block th:each="dvo : ${list}">
					<tr>
						<td style="font-weight: bold; font-size: 15pt;">[[${dvo.whatday}]]일차 [[${dvo.spot}]]</td>
						<td th:if="${dvo.visit_date} != null">(방문시간 : [[${#dates.format(dvo.visit_date,'MM/dd hh:mm')}]])</td>
						<td th:if="${dvo.time_info} != null">([[${dvo.time_info}]])</td>
					</tr>
					<tr style="height: 10px;">
						<td></td>
					</tr>
					<tr>
						<td>
							<div class="container">
								<div style="position: relative; top: 110px; width: 35px;">
									<button th:if="${dvo.img_count} > 1" class="btn btn-light btn-sm" id="prev"><i class="bi bi-caret-left-fill"></i></button>
								</div>
								<div class="pic" style="overflow: hidden;">
									<th:block th:each="item: ${#numbers.sequence(1, dvo.img_count)}" >
										<img th:src="'https://objectstorage.ap-chuncheon-1.oraclecloud.com/n/axkuc5y2jvfb/b/bucket-20241206-1343/o/detail-'+ ${dvo.detail_id} +'-'+ ${item} + '.jpg'" alt="IMG" onerror="this.onerror=null; this.src='https://objectstorage.ap-chuncheon-1.oraclecloud.com/n/axkuc5y2jvfb/b/bucket-20241206-1343/o/noimg.jpg'" width="350" height="250"/>
									</th:block>
								</div>
								<div style="position: relative; top: 110px; width: 35px;">
									<button th:if="${dvo.img_count} > 1" class="btn btn-light btn-sm" id="next"><i class="bi bi-caret-right-fill"></i></button>
								</div>
							</div>
						</td>
						<td colspan="2">
							<div class="location"
					             th:data-latitude="${dvo.latitude}" 
					             th:data-longitude="${dvo.longitude}">
					        </div>
						</td>
					</tr>
					<tr style="height: 10px;">
						<td></td>
					</tr>
					<tr>
						<td>[[${dvo.info}]]</td>
						<td>&nbsp;</td>
					</tr>
					<tr style="border-bottom: 1px solid lightgrey;">
						<td colspan="3" style="text-align: right;">
							<form th:action="@{/}">
								<input type="submit" class="detailAdd" value="내 일정 추가" />
							</form>
						</td>
					</tr>
					<tr>
						<td>&nbsp;</td>
					</tr>
					<tr>
						<td>&nbsp;</td>
					</tr>
				</th:block>
			</table>
		
		</div>
	</section>
</body>
</html>